<div class="whiteBG">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<h1>TERMS OF USE</h1>
			</div>
		</div>
	</div>
</div>
<script>
	$(window).bind("load", function() {
			$(window).resize(function () {
				$("#gmContainer").height($("#restaurantSearch").height())
			})
			$("#howItWork").hide();
			$("#staticHeader").addClass("subHead");
			initialize_withLoc()
		})
</script>
