/*mainform Form*/

input, textarea{
	width:100%;
	border:0px;
	font-family: 'lato', sans-serif;
	font-weight:300;
	font-style:normal;
	background:#e6e6e6;
	color:#333;
	padding:10px!important;
	padding-left:10px;
	height:auto;
	font-size:1em;
	list-style-type:none;
	margin-bottom:10px;
	text-transform:uppercase;
}

.search{
	width:70%;
}

.submit{
	background:#fff;
	font-weight:400;
	padding:15px;
	border:0px;
	cursor:pointer;
	margin-bottom:0px;
	padding:20px 30px;
	border:3px solid #4badda;
	text-transform:uppercase;
	color:#8c8c8c;
	font-size:20px;
	width:auto;
	float:right;
}

::-webkit-input-placeholder { /* WebKit browsers */
    color:    #666666;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:    #666666;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:    #666666;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
    color:    #666666;
}


label{
	font-size:1em;
}

