@media only screen and (max-width: 40em) { 
	
	/*HEADER*/
	
	.header{
		min-height:620px!important;
	}
	
	.subHead{
		min-height:200px;
	}
	
	.logo{
		text-align:center!important;
	}
	
	.header .list{
		font-size:18px;
		line-height:28px;
	}
	.header h1{
		font-size:32px;
		clear:both;
		margin-top:0px!important;
		color:#4badda;
	}
	
	#logo{
		max-width:150px;
	}
	
	/*BODY STYLES*/
	
	h2{
		line-height:40px;
	}
	
	.submit{
		margin-bottom:20px;
	}
	
	/*NAVIGATION*/
	
	.navbar-header{
		position:absolute;
		z-index:9999;
		right:20px;
	}
	
	.navbar{
		margin-top:0px!important;
		float:none!important;
	}
	
	.navbar li{
		text-align:center!important;
	}
	
	.nav>li>a{
		font-size:18px;
		line-height:18px;
		text-align:left;
	}
	
	
	/*WHO WE ARE*/
	
	.who-we-are p{
		font-size:14px;
	}
	
	.social-media{
		margin-top:20px;
		float:none;
	}
	
	.social-media{
		float:none;
		margin:0px;
		padding:0px;
	}

	.social-media li img{
		width:32px;
	}
	
	/*FOOTER*/
	
	.footer ul{
		float:none;
		margin:0px;
		padding:0px;
	}
	
	.footer ul li{
		display:block;
	}
	
	.imageItem{
		margin: 0 auto;
		text-align: center;
		vertical-align: baseline;
	}
}
	

	#nav.affix {
		position: fixed;
		top: 0;
		width: 100%;
		z-index:9999;
		background:#222;
		padding:20px 0px 0px 0px;
	}
	
	#nav.affix #logo{
		width:150px;
	}
	
	#nav.affix p{
		display:none;
	}
	
	#nav.affix .navbar{
		margin-top:20px;
	}
	
	@media (max-width: 768px) {
    .affix {
        position: static;
    }
}